* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

table {
  width: 60%;
}
  
table, th, td {
  text-align: left;
  padding: 10px;
  border-spacing: 0 10px;
}

tr {
  outline: 1px dashed rgb(122, 34, 34);
}

select {
  padding-right: 5%;
  margin-right: 10px;
  border-style: dotted;
  outline-style: none;
}

a {
  text-decoration: none;
  color: brown;
}

#actions {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
